node_modules/

.svelte-kit/
build/
.env
.env.*
!.env.example

src-tauri/target/
src-tauri/gen/
src-tauri/.cargo/

package-lock.json
pnpm-lock.yaml
yarn.lock
Cargo.lock

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.vscode/
.idea/
